* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
  --hightlight-color: #9929EA;
  --hightlight: #ff2e93;
  --high: #948979;
  --color: #AD49E1;
  --highlight-glow: rgba(153, 41, 234, 0.5);

}
main {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body.dark {
    background: black;
    color: white;
}

body.light {
    background: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 35px;
    /* border: 1px solid yellow; */
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;
}

.nav-links li {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    transition: border-bottom 0.2 ease-in;
}

.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--hightlight-color);
    transition: width 0.3s ease;
}

.nav-links li:hover::after {
    width: 100%;
}

.theme-icon {
  width: 20px;
  height: 20px;
}

.theme-btn {
  background: #3F3F46;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn:hover {
    border: 2px solid rgb(231, 230, 230);
}

body.light .theme-btn {
    background: #efeeee;
    color: black;
}

/* Hero section  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 80px 120px; */
  padding: 80px 8%;
  min-height: 80vh;
  background: black;
  color: white;
  border: 1px solid red;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 70px;
  font-weight: bold;
}

.highlight {
  color: var(--hightlight-color);
}

.hero-left p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #cfcfcf;
}

.tag {
  background: var(--hightlight-color);
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid var(--hightlight-color);  
}


/* About Section */

#about-section {
  border: 1px solid orange;
  display: flex;
  justify-content: space-evenly;
}

.about-me {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  /* padding: 80px 8%; */
  gap: 30px;
}

#about-heading {
  color: white;
  font-size: 2.8rem;
} 

#about-heading span {
  color: var(--hightlight-color);
}

.about {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #e1e0e0;
  letter-spacing: 0.4px;
}

.about-desc span {
  /* color: var(--hightlight-color); */
  border-bottom: 2px solid #D5AB93;
}

.social-handles {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.social-handles h3 {
  font-size: 1.5rem;
  letter-spacing: 0.7;
}

.socials {
  /* background-color: lightskyblue; */
  /* border: 1px dotted mediumaquamarine; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 20px;
  gap: 40px;
}

.socials .first, .socials .second {
  /* background-color: rgb(185, 185, 113); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socials .second {
  /* background-color: lightpink; */
}

.mail, .phone, .linkedin, .github {
  display: flex;
  gap: 20px;
  /* border: 1px solid orangered; */
}

.mail p, .phone p, .linkedin a, .github a {
  font-size: 1.1rem;
  color: var(--hightlight-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mail p:hover, .phone p:hover, .linkedin a:hover, .github a:hover {
  color: rgb(237, 236, 236);
}
.socials img {
  width: 20px;
  height: 20px;
}

/* Skills section */

.skills-section {
  border: 1px solid hotpink;
  display: flex;
  flex-direction: column;
}

.header {
  /* border: 1px solid red; */
  padding: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  align-self: center;
  gap: 15px;
}

.header h2 {
  color: white;
  font-size: 2.3rem;
}

.header p {
  color: rgb(206, 203, 203);
  font-size: 1.2rem;
  letter-spacing: 0.7px;
}

.header .bar {
  width: 60px;
  height: 2px;
  background-color: var(--hightlight-color);
  border-radius: 5px;
}


.frontend, .backend, .languages, .toolsPlatform {
  border: 1px solid yellowgreen;
  /* background-color:  #362244; */
  /* padding: 20px; */
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  /* border: 1px solid fuchsia; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading h3 {
  font-size: 1.3rem;
  letter-spacing: 0.9;
}

.heading hr {
  /* width: 50%; */
  border: none;
  border-top: 1px solid rgb(88, 87, 87);
}

.frontend .text { color: rgb(179, 177, 177)}

.stack {
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid rgb(138, 127, 151);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.05); /* transparent */
  background: #281d31;
  backdrop-filter: blur(10px); /* glass blur */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid var(--hightlight-color);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.3), 
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  
    transition: 0.3s ease;

}

.stack:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 
    0 0 20px var(--highlight-glow),
    0 10px 30px rgba(0,0,0,0.4);
}

.stack img {
  width: 30px;
  height: auto;
}

.stack p {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.9;
  color: rgb(214, 211, 211);
}

.frontend-stacks, .backend-stacks, .language-stack, .tools-stack {
  /* background-color: rgb(90, 172, 200); */
  display: flex;
  gap: 10px;
}


/* backend */

.backend {
  border: 1px solid chartreuse;
}









/* Mobile design  */

@media (max-width: 900px) {

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-left h1 {
    font-size: 45px;
  }

  .profile-pic {
    width: 220px;
    height: 220px;
  }

}